* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 625%;
}

body {
    margin: 0;
    font-size: .16em;
}

header {
    position: fixed;
    z-index: 20;
    width: 100%;
}


/* ここからバナー */

.bannertop {
    background-color: #3f3f3f;
    height: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.row a {
    text-decoration: none;
    color: white;
}

#banner-message {
    width: 30%;
}

.bannerText {
    font-size: .14rem;
    line-height: 30px;
    letter-spacing: 1px;
}

#cart {
    padding: 0;
    /* width: 40%; */
    line-height: 30px;
    font-size: .12rem;
}

ul#cart {
    text-align: right;
}

#cart li {
    list-style: none;
    display: inline-block;
}

#cart a {
    display: block;
}

.account {
    margin-right: 5px;
}

.fa-shopping-cart {
    font-size: 10px;
}

.item-count {
    color: #8fc4bd;
}

.fa-shopping-cart {
    margin-left: 10px;
}


/* ここまでバナー */


/* ここからナビゲーション */

.navigation {
    height: 51px;
    line-height: 51px;
    background-color: white;
}

.nav-container {
    display: flex;
}

#logo a {
    display: block;
}

.navigation img {
    vertical-align: middle;
}

#main-nav {
    display: flex;
    margin: 0 auto;
}

#main-nav a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: .14rem;
    font-weight: bold;
    padding: 0 10px;
    letter-spacing: 2px;
    transition: 0.3s;
}

#main-nav a:hover {
    color: #8fc4bd;
}

#main-nav li {
    list-style: none;
}


/* ここまでナビゲーション */

#content {
    margin: 0 auto;
    height: 2500px;
    padding-top: 82px;
    width: 90%;
}


/* セクションタイトルのCSS */

.section-title h2 {
    width: 100%;
    height: 60px;
    line-height: 60px;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    font-size: 22px;
    border-bottom: 1px solid #f0f0f0;
}

.filtersButton {
    width: 100%;
    background-color: #000;
    border-radius: 5px;
    display: none;
}

.filtersButton a {
    display: block;
    text-decoration: none;
    text-align: center;
    height: 48px;
    line-height: 48px;
    margin-bottom: 30px;
    font-size: .14rem;
    color: #fff;
}


/* ここまでセクションタイトルのCSS */


/* ここから表示順・カテゴリー */

.selecter-options span {
    display: block;
}

.desktop-2 {
    height: 440px;
    display: flex;
}

.sidebar {
    margin: 0 12.5px;
    width: 15%;
}

.sidebar p {
    font-weight: bolder;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 5px;
    margin: 0;
    margin-bottom: 10px;
}

.selecter {
    width: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}

.selecter-options {
    width: 175px;
    border: 1px solid #ccc;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    height: 260px;
    overflow: auto;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    position: absolute;
    top: 31%;
    z-index: 50;
    background-color: white;
    display: none;
}

.selecter span {
    height: 25px;
    line-height: 27px;
    font-size: 13px;
    display: block;
}

.selecter-item {
    font-size: 13px;
    height: 25px;
    line-height: 25px;
    padding: 8px 10px;
    border-bottom: 1px solid #e3e3e3;
}

.CategoryBlock {
    width: 100%;
}

.categories {
    list-style: none;
    height: 25px;
}

.categories a {
    text-decoration: none;
    color: black;
    transition: .3s;
}

.categories a:hover {
    color: #8fc4bd;
}


/* 商品ラインナップ */

.product {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.reveal {
    margin-bottom: 20px;
    width: 30%;
}

.reveal img {
    width: 100%;
    height: auto;
}

.product-details a {
    text-decoration: none;
}

.product-details h3 {
    font-size: 15px;
    color: #000000;
    font-weight: normal;
    text-align: center;
    margin: 0 0 3px 0;
}

.prod-price {
    color: #666;
    font-size: 14px;
    text-align: center;
}

.product_infobox {
    margin-top: 15px;
}


/* ここまで表示順・カテゴリー */


/* ここからフッター */

.footer-wrapper {
    background-color: #ffe710;
    border-top: 1.5px solid #000000;
    padding: 50px 0;
    width: 100%;
}

.footer-box {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    width: 80%;
}

.footer_signup {
    margin-top: 30px;
    width: 100%;
}

.footer-text {
    margin-bottom: 5px;
}

.footer-text p {
    margin: 0;
}

.desktop-6 {
    height: 240.5px;
    margin: 0 12.5px;
    width: 47%;
}

.desktop-6 h4 {
    border-bottom: 1.5px solid #000000;
    font-weight: 500;
    margin: 0 0 10px 0;
    font-size: 15px;
    letter-spacing: 1px;
}

.desktop-6 ul {
    width: 100%;
    height: 150px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
}

.desktop-6 li {
    list-style: none;
    width: 285.5px;
}

.desktop-6 ul li a {
    color: black;
}

.desktop-6 a {
    text-decoration: none;
}

.mailaddles {
    height: 0;
    padding: 15px 0;
    border: 1px solid #f0f0f0;
    outline: none;
    margin-bottom: 20px;
}

 ::placeholder {
    color: black;
    font-size: .16rem;
    border-radius: 2px;
}

.desktop-6 ul {
    margin: 30px 0 20px 0;
}

input[type=email] {
    font-size: .16rem;
    width: 100%;
    border: 1px solid #000;
    background-color: #fff;
}

input[type=submit] {
    width: 190px;
    border: none;
    border-radius: 30px;
    color: #ffe710;
    font-size: 16px;
    background-color: black;
    cursor: pointer;
    transition: .3s;
}

input[type=submit]:hover {
    color: #ffe700;
    background: #6f6f6f;
}

.footer-icons {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-top: 1.5px solid #000000;
    padding: 0;
    padding-top: 30px;
    margin: 16px 0;
}

.footer-icons li {
    list-style: none;
    width: 1%;
    padding: 10px;
    margin: 0 10px;
}

.footer-icons i {
    color: black;
    font-size: .28rem;
}

.credit {
    width: 100%;
    height: 105px;
    text-align: center;
    margin: 30px 12.5px 0 12.5px;
}

.credit p {
    margin: 0 0 10px 0;
    font-size: 1.0rem;
    font-size: 11px;
    letter-spacing: 1px;
    height: 25px;
}

.credit a {
    color: #000000;
}

.footer-Lasticons {
    display: flex;
    justify-content: center;
    padding: 0;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-top: 1.5px solid #000000;
}

.footer-Lasticons li {
    list-style: none;
    width: 10px;
    padding: 10px;
    margin: 0 10px;
}

.footer-Lasticons i {
    color: black;
    font-size: .28rem;
}


/* ここまでフッター */